/* @import-normalize; */

:root {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  -moz-tab-size: 2;
  tab-size: 2;

  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;

  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  --d: 200ms;
  --tf: linear;

  transition: color var(--d) var(--tf), border var(--d) var(--tf),
    background-color var(--d) var(--tf), transform var(--d) var(--tf);

  font-family: inherit;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

button:disabled {
  cursor: auto;
}

input::-moz-placeholder {
  opacity: 1;
}

textarea::-moz-placeholder {
  opacity: 1;
}

input,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
